In [1]:
!pip install /Users/johnmount/Documents/work/pyvtreat/dist/vtreat-0.1.tar.gz

Processing /Users/johnmount/Documents/work/pyvtreat/dist/vtreat-0.1.tar.gz
Requirement already satisfied: numpy in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from vtreat==0.1) (1.16.4)
Requirement already satisfied: pandas in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from vtreat==0.1) (0.24.2)
Requirement already satisfied: statistics in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from vtreat==0.1) (1.0.3.5)
Requirement already satisfied: scipy in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from vtreat==0.1) (1.2.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from pandas->vtreat==0.1) (2.8.0)
Requirement already satisfied: pytz>=2011k in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from pandas->vtreat==0.1) (2019.1)
Requirement already satisfied: docutils>=0.3 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from statistics->vtreat==0.1) (0.14)
Requirement already satisfied: six>=1.5 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas->vtreat==0.1) (1.12.0)
Building wheels for collected packages: vtreat
  Building wheel for vtreat (setup.py) ... done
  Stored in directory: /Users/johnmount/Library/Caches/pip/wheels/28/d1/8a/f8f4ee7c515a6c18d95d64f4d49327fe498b9e6e23d04c7159
Successfully built vtreat
Installing collected packages: vtreat
  Found existing installation: vtreat 0.1
    Uninstalling vtreat-0.1:
      Successfully uninstalled vtreat-0.1
Successfully installed vtreat-0.1

In [2]:
import vtreat.util

In [3]:
vtreat.util.k_way_cross_plan(10,4)

[{'train': [0, 1, 4, 5, 7, 8, 9], 'app': [2, 3, 6]},
 {'train': [2, 3, 5, 6, 7, 8, 9], 'app': [0, 1, 4]},
 {'train': [0, 1, 2, 3, 4, 5, 6, 7], 'app': [8, 9]},
 {'train': [0, 1, 2, 3, 4, 6, 8, 9], 'app': [5, 7]}]

In [4]:
import vtreat

In [5]:
plan = vtreat.numeric_outcome_treatment(outcomename="y")

In [6]:
import pandas
import numpy

In [7]:
# from https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html
df = pandas.DataFrame(numpy.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
                      columns=['one', 'two', 'three'])
df['four'] = 'foo'
df['five'] = df['one'] > 0
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df2

        one       two     three four   five
a  1.283982 -0.210587 -0.183986  foo   True
b       NaN       NaN       NaN  NaN    NaN
c -1.693462  0.303648 -1.174237  foo  False
d       NaN       NaN       NaN  NaN    NaN
e -0.397915  0.829961 -1.102066  foo  False
f -0.698799 -1.029879 -0.429696  foo  False
g       NaN       NaN       NaN  NaN    NaN
h  0.623927  0.277622 -0.022760  foo   True

In [8]:
df2.reset_index(inplace=True, drop=True)
df2["y"] = range(df2.shape[0])
df2.loc[3, "four"] = "blog"

In [9]:
#df2 = pandas.concat([df2, df2, df2, df2, df2], axis=0)
#df2.reset_index(inplace=True, drop=True)

In [10]:
df2

        one       two     three  four   five  y
0  1.283982 -0.210587 -0.183986   foo   True  0
1       NaN       NaN       NaN   NaN    NaN  1
2 -1.693462  0.303648 -1.174237   foo  False  2
3       NaN       NaN       NaN  blog    NaN  3
4 -0.397915  0.829961 -1.102066   foo  False  4
5 -0.698799 -1.029879 -0.429696   foo  False  5
6       NaN       NaN       NaN   NaN    NaN  6
7  0.623927  0.277622 -0.022760   foo   True  7

In [11]:
plan.fit(df2, df2["y"])

In [12]:
res = plan.transform(df2)
res

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code
0,0,0.0,0.0,0.0,0.0,0.0,1.283982,-0.210587,-0.183986,1.0,0.009018
1,1,1.0,1.0,1.0,1.0,1.0,-0.176453,0.034153,-0.582549,0.4,0.000000
2,2,0.0,0.0,0.0,0.0,0.0,-1.693462,0.303648,-1.174237,0.0,0.009018
3,3,1.0,1.0,1.0,0.0,1.0,-0.176453,0.034153,-0.582549,0.4,-0.009719
4,4,0.0,0.0,0.0,0.0,0.0,-0.397915,0.829961,-1.102066,0.0,0.009018
5,5,0.0,0.0,0.0,0.0,0.0,-0.698799,-1.029879,-0.429696,0.0,0.009018
6,6,1.0,1.0,1.0,1.0,1.0,-0.176453,0.034153,-0.582549,0.4,0.000000
7,7,0.0,0.0,0.0,0.0,0.0,0.623927,0.277622,-0.022760,1.0,0.009018

In [13]:
res2 = plan.fit_transform(df2, df2["y"])
res2

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code
0,0,0.0,0.0,0.0,0.0,0.0,1.283982,-0.210587,-0.183986,1.0,0.106667
1,1,1.0,1.0,1.0,1.0,1.0,-0.176453,0.034153,-0.582549,0.4,0.000000
2,2,0.0,0.0,0.0,0.0,0.0,-1.693462,0.303648,-1.174237,0.0,0.009181
3,3,1.0,1.0,1.0,0.0,1.0,-0.176453,0.034153,-0.582549,0.4,0.000000
4,4,0.0,0.0,0.0,0.0,0.0,-0.397915,0.829961,-1.102066,0.0,-0.227106
5,5,0.0,0.0,0.0,0.0,0.0,-0.698799,-1.029879,-0.429696,0.0,0.009181
6,6,1.0,1.0,1.0,1.0,1.0,-0.176453,0.034153,-0.582549,0.4,0.000000
7,7,0.0,0.0,0.0,0.0,0.0,0.623927,0.277622,-0.022760,1.0,-0.032580

In [14]:
plan.transform(df2)

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code
0,0,0.0,0.0,0.0,0.0,0.0,1.283982,-0.210587,-0.183986,1.0,0.009018
1,1,1.0,1.0,1.0,1.0,1.0,-0.176453,0.034153,-0.582549,0.4,0.000000
2,2,0.0,0.0,0.0,0.0,0.0,-1.693462,0.303648,-1.174237,0.0,0.009018
3,3,1.0,1.0,1.0,0.0,1.0,-0.176453,0.034153,-0.582549,0.4,-0.009719
4,4,0.0,0.0,0.0,0.0,0.0,-0.397915,0.829961,-1.102066,0.0,0.009018
5,5,0.0,0.0,0.0,0.0,0.0,-0.698799,-1.029879,-0.429696,0.0,0.009018
6,6,1.0,1.0,1.0,1.0,1.0,-0.176453,0.034153,-0.582549,0.4,0.000000
7,7,0.0,0.0,0.0,0.0,0.0,0.623927,0.277622,-0.022760,1.0,0.009018

In [15]:
plan.score_frame_

           variable  PearsonR  significance
0        one_is_bad -0.056344      0.894579
1        two_is_bad -0.056344      0.894579
2      three_is_bad -0.056344      0.894579
3       four_is_bad  0.000000      1.000000
4       five_is_bad -0.056344      0.894579
5               one -0.061701      0.884603
6               two  0.011729      0.978009
7             three  0.207647      0.621708
8              five -0.028172      0.947206
9  four_impact_code -0.372631      0.363299