In [1]:
!pip install https://github.com/WinVector/pyvtreat/raw/master/dist/vtreat-0.1.tar.gz

Collecting https://github.com/WinVector/pyvtreat/raw/master/dist/vtreat-0.1.tar.gz
  Using cached https://github.com/WinVector/pyvtreat/raw/master/dist/vtreat-0.1.tar.gz
Requirement already satisfied (use --upgrade to upgrade): vtreat==0.1 from https://github.com/WinVector/pyvtreat/raw/master/dist/vtreat-0.1.tar.gz in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages
Requirement already satisfied: numpy in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from vtreat==0.1) (1.16.4)
Requirement already satisfied: pandas in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from vtreat==0.1) (0.24.2)
Requirement already satisfied: statistics in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from vtreat==0.1) (1.0.3.5)
Requirement already satisfied: scipy in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from vtreat==0.1) (1.2.1)
Requirement already satisfied: pytz>=2011k in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from pandas->vtreat==0.1) (2019.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from pandas->vtreat==0.1) (2.8.0)
Requirement already satisfied: docutils>=0.3 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from statistics->vtreat==0.1) (0.14)
Requirement already satisfied: six>=1.5 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas->vtreat==0.1) (1.12.0)
Building wheels for collected packages: vtreat
  Building wheel for vtreat (setup.py) ... done
  Stored in directory: /Users/johnmount/Library/Caches/pip/wheels/8f/d2/65/9ba24b7ca3ce85588a0aa24e1695428cafb12cbec807d43f65
Successfully built vtreat

In [2]:
import vtreat.util

In [3]:
vtreat.util.k_way_cross_plan(10,4)

[{'train': [0, 3, 4, 5, 6, 7, 8], 'app': [1, 2, 9]},
 {'train': [1, 2, 4, 5, 7, 8, 9], 'app': [0, 3, 6]},
 {'train': [0, 1, 2, 3, 5, 6, 7, 9], 'app': [4, 8]},
 {'train': [0, 1, 2, 3, 4, 6, 8, 9], 'app': [5, 7]}]

In [4]:
import vtreat

In [5]:
plan = vtreat.numeric_outcome_treatment(outcomename="y")

In [6]:
import pandas
import numpy

In [7]:
# from https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html
df = pandas.DataFrame(numpy.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
                      columns=['one', 'two', 'three'])
df['four'] = 'foo'
df['five'] = df['one'] > 0
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df2

        one       two     three four   five
a  1.892427 -0.740102  0.634821  foo   True
b       NaN       NaN       NaN  NaN    NaN
c -0.713772  1.282062  0.411180  foo  False
d       NaN       NaN       NaN  NaN    NaN
e -0.479925 -1.075762  0.323755  foo  False
f  1.012460 -1.565270 -0.165303  foo   True
g       NaN       NaN       NaN  NaN    NaN
h -0.414984 -0.532008 -1.931477  foo  False

In [8]:
df2.reset_index(inplace=True, drop=True)
df2["y"] = range(df2.shape[0])
df2.loc[3, "four"] = "blog"

In [9]:
#df2 = pandas.concat([df2, df2, df2, df2, df2], axis=0)
#df2.reset_index(inplace=True, drop=True)

In [10]:
df2

        one       two     three  four   five  y
0  1.892427 -0.740102  0.634821   foo   True  0
1       NaN       NaN       NaN   NaN    NaN  1
2 -0.713772  1.282062  0.411180   foo  False  2
3       NaN       NaN       NaN  blog    NaN  3
4 -0.479925 -1.075762  0.323755   foo  False  4
5  1.012460 -1.565270 -0.165303   foo   True  5
6       NaN       NaN       NaN   NaN    NaN  6
7 -0.414984 -0.532008 -1.931477   foo  False  7

In [11]:
plan.fit(df2, df2["y"])

In [12]:
res = plan.transform(df2)
res

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code,four_foo,four__NA_,four_blog
0,0,0.0,0.0,0.0,0.0,0.0,1.892427,-0.740102,0.634821,1.0,0.009018,1,0,0
1,1,1.0,1.0,1.0,1.0,1.0,0.259241,-0.526216,-0.145405,0.4,0.000000,0,1,0
2,2,0.0,0.0,0.0,0.0,0.0,-0.713772,1.282062,0.411180,0.0,0.009018,1,0,0
3,3,1.0,1.0,1.0,0.0,1.0,0.259241,-0.526216,-0.145405,0.4,-0.009719,0,0,1
4,4,0.0,0.0,0.0,0.0,0.0,-0.479925,-1.075762,0.323755,0.0,0.009018,1,0,0
5,5,0.0,0.0,0.0,0.0,0.0,1.012460,-1.565270,-0.165303,1.0,0.009018,1,0,0
6,6,1.0,1.0,1.0,1.0,1.0,0.259241,-0.526216,-0.145405,0.4,0.000000,0,1,0
7,7,0.0,0.0,0.0,0.0,0.0,-0.414984,-0.532008,-1.931477,0.0,0.009018,1,0,0

In [13]:
res2 = plan.fit_transform(df2, df2["y"])
res2

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code,four_foo,four__NA_,four_blog
0,0,0.0,0.0,0.0,0.0,0.0,1.892427,-0.740102,0.634821,1.0,0.195219,1,0,0
1,1,1.0,1.0,1.0,1.0,1.0,0.259241,-0.526216,-0.145405,0.4,0.000000,0,1,0
2,2,0.0,0.0,0.0,0.0,0.0,-0.713772,1.282062,0.411180,0.0,0.043956,1,0,0
3,3,1.0,1.0,1.0,0.0,1.0,0.259241,-0.526216,-0.145405,0.4,0.000000,0,0,1
4,4,0.0,0.0,0.0,0.0,0.0,-0.479925,-1.075762,0.323755,0.0,0.295775,1,0,0
5,5,0.0,0.0,0.0,0.0,0.0,1.012460,-1.565270,-0.165303,1.0,-0.001562,1,0,0
6,6,1.0,1.0,1.0,1.0,1.0,0.259241,-0.526216,-0.145405,0.4,0.000000,0,1,0
7,7,0.0,0.0,0.0,0.0,0.0,-0.414984,-0.532008,-1.931477,0.0,-0.491063,1,0,0

In [14]:
plan.transform(df2)

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code,four_foo,four__NA_,four_blog
0,0,0.0,0.0,0.0,0.0,0.0,1.892427,-0.740102,0.634821,1.0,0.009018,1,0,0
1,1,1.0,1.0,1.0,1.0,1.0,0.259241,-0.526216,-0.145405,0.4,0.000000,0,1,0
2,2,0.0,0.0,0.0,0.0,0.0,-0.713772,1.282062,0.411180,0.0,0.009018,1,0,0
3,3,1.0,1.0,1.0,0.0,1.0,0.259241,-0.526216,-0.145405,0.4,-0.009719,0,0,1
4,4,0.0,0.0,0.0,0.0,0.0,-0.479925,-1.075762,0.323755,0.0,0.009018,1,0,0
5,5,0.0,0.0,0.0,0.0,0.0,1.012460,-1.565270,-0.165303,1.0,0.009018,1,0,0
6,6,1.0,1.0,1.0,1.0,1.0,0.259241,-0.526216,-0.145405,0.4,0.000000,0,1,0
7,7,0.0,0.0,0.0,0.0,0.0,-0.414984,-0.532008,-1.931477,0.0,0.009018,1,0,0

In [15]:
plan.score_frame_

            variable  PearsonR  significance
0         one_is_bad -0.056344      0.894579
1         two_is_bad -0.056344      0.894579
2       three_is_bad -0.056344      0.894579
3        four_is_bad  0.000000      1.000000
4        five_is_bad -0.056344      0.894579
5                one -0.396942      0.330218
6                two -0.271784      0.514943
7              three -0.712851      0.047176
8               five -0.309890      0.455084
9   four_impact_code -0.590365      0.123373
10          four_foo  0.056344      0.894579
11         four__NA_  0.000000      1.000000
12         four_blog -0.082479      0.846053