In [1]:
import vtreat.util

In [2]:
vtreat.util.k_way_cross_plan(10,4)

[{'train': [0, 1, 3, 4, 6, 7, 8], 'test': [2, 5, 9]},
 {'train': [0, 2, 4, 5, 7, 8, 9], 'test': [1, 3, 6]},
 {'train': [0, 1, 2, 3, 5, 6, 7, 9], 'test': [4, 8]},
 {'train': [1, 2, 3, 4, 5, 6, 8, 9], 'test': [0, 7]}]

In [3]:
import vtreat

In [4]:
plan = vtreat.numeric_outcome_treatment(outcomename="y")

In [5]:
import pandas
import numpy

In [6]:
# from https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html
df = pandas.DataFrame(numpy.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
                      columns=['one', 'two', 'three'])
df['four'] = 'foo'
df['five'] = df['one'] > 0
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df2

        one       two     three four   five
a -0.685734 -0.187367  2.483612  foo  False
b       NaN       NaN       NaN  NaN    NaN
c -0.331823  1.273405  0.207794  foo  False
d       NaN       NaN       NaN  NaN    NaN
e -1.763357 -0.108552 -0.525345  foo  False
f -0.212728 -0.488208 -1.692696  foo  False
g       NaN       NaN       NaN  NaN    NaN
h  0.868518  0.717318 -0.582037  foo   True

In [7]:
df2.reset_index(inplace=True, drop=True)
df2["y"] = range(df2.shape[0])
df2.loc[3, "four"] = "blog"

In [8]:
df2

        one       two     three  four   five  y
0 -0.685734 -0.187367  2.483612   foo  False  0
1       NaN       NaN       NaN   NaN    NaN  1
2 -0.331823  1.273405  0.207794   foo  False  2
3       NaN       NaN       NaN  blog    NaN  3
4 -1.763357 -0.108552 -0.525345   foo  False  4
5 -0.212728 -0.488208 -1.692696   foo  False  5
6       NaN       NaN       NaN   NaN    NaN  6
7  0.868518  0.717318 -0.582037   foo   True  7

In [9]:
df2.loc[3, "four"]

'blog'

In [10]:
plan.fit(df2, df2["y"])

In [11]:
res = plan.transform(df2)
res

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code
0,0,0.0,0.0,0.0,0.0,0.0,-0.685734,-0.187367,2.483612,0.0,0.009018
1,1,1.0,1.0,1.0,1.0,1.0,-0.425025,0.241319,-0.021734,0.2,0.000000
2,2,0.0,0.0,0.0,0.0,0.0,-0.331823,1.273405,0.207794,0.0,0.009018
3,3,1.0,1.0,1.0,0.0,1.0,-0.425025,0.241319,-0.021734,0.2,-0.009719
4,4,0.0,0.0,0.0,0.0,0.0,-1.763357,-0.108552,-0.525345,0.0,0.009018
5,5,0.0,0.0,0.0,0.0,0.0,-0.212728,-0.488208,-1.692696,0.0,0.009018
6,6,1.0,1.0,1.0,1.0,1.0,-0.425025,0.241319,-0.021734,0.2,0.000000
7,7,0.0,0.0,0.0,0.0,0.0,0.868518,0.717318,-0.582037,1.0,0.009018