In [1]:
!pip install /Users/johnmount/Documents/work/pyvtreat/dist/vtreat-0.1.tar.gz
#!pip install https://github.com/WinVector/pyvtreat/raw/master/dist/vtreat-0.1.tar.gz

Processing /Users/johnmount/Documents/work/pyvtreat/dist/vtreat-0.1.tar.gz
Requirement already satisfied: numpy in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from vtreat==0.1) (1.16.4)
Requirement already satisfied: pandas in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from vtreat==0.1) (0.24.2)
Requirement already satisfied: statistics in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from vtreat==0.1) (1.0.3.5)
Requirement already satisfied: scipy in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from vtreat==0.1) (1.2.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from pandas->vtreat==0.1) (2.8.0)
Requirement already satisfied: pytz>=2011k in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from pandas->vtreat==0.1) (2019.1)
Requirement already satisfied: docutils>=0.3 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from statistics->vtreat==0.1) (0.14)
Requirement already satisfied: six>=1.5 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas->vtreat==0.1) (1.12.0)
Building wheels for collected packages: vtreat
  Building wheel for vtreat (setup.py) ... done
  Stored in directory: /Users/johnmount/Library/Caches/pip/wheels/28/d1/8a/f8f4ee7c515a6c18d95d64f4d49327fe498b9e6e23d04c7159
Successfully built vtreat
Installing collected packages: vtreat
  Found existing installation: vtreat 0.1
    Uninstalling vtreat-0.1:
      Successfully uninstalled vtreat-0.1
Successfully installed vtreat-0.1

In [2]:
import vtreat.util

In [3]:
vtreat.util.k_way_cross_plan(10,4)

[{'train': [0, 1, 2, 3, 4, 5, 9], 'app': [6, 7, 8]},
 {'train': [1, 4, 5, 6, 7, 8, 9], 'app': [0, 2, 3]},
 {'train': [0, 1, 2, 3, 5, 6, 7, 8], 'app': [4, 9]},
 {'train': [0, 2, 3, 4, 6, 7, 8, 9], 'app': [1, 5]}]

In [4]:
import vtreat

In [5]:
plan = vtreat.numeric_outcome_treatment(outcomename="y")

In [6]:
import pandas
import numpy

In [7]:
# from https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html
df = pandas.DataFrame(numpy.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
                      columns=['one', 'two', 'three'])
df['four'] = 'foo'
df['five'] = df['one'] > 0
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df2.reset_index(inplace=True, drop=True)
df2["y"] = range(df2.shape[0])
df2.loc[3, "four"] = "blog"

In [8]:
df2

        one       two     three  four   five  y
0  0.911649 -1.029301  1.407678   foo   True  0
1       NaN       NaN       NaN   NaN    NaN  1
2  0.386269  0.672940 -0.381947   foo   True  2
3       NaN       NaN       NaN  blog    NaN  3
4 -0.455167 -0.754108  0.396140   foo  False  4
5 -0.611463  0.617749 -0.655408   foo  False  5
6       NaN       NaN       NaN   NaN    NaN  6
7  0.012372  0.323046  1.535620   foo   True  7

In [9]:
plan.fit(df2, df2["y"])

In [10]:
res = plan.transform(df2)
res

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code,four_prevalence_code,four_lev_foo,four_lev__NA_,four_lev_blog
0,0,0.0,0.0,0.0,0.0,0.0,0.911649,-1.029301,1.407678,1.0,0.007347,0.500,1,0,0
1,1,1.0,1.0,1.0,1.0,1.0,0.048732,-0.033935,0.460417,0.6,0.000000,0.125,0,1,0
2,2,0.0,0.0,0.0,0.0,0.0,0.386269,0.672940,-0.381947,1.0,0.007347,0.500,1,0,0
3,3,1.0,1.0,1.0,0.0,1.0,0.048732,-0.033935,0.460417,0.6,0.000000,0.000,0,0,1
4,4,0.0,0.0,0.0,0.0,0.0,-0.455167,-0.754108,0.396140,0.0,0.007347,0.500,1,0,0
5,5,0.0,0.0,0.0,0.0,0.0,-0.611463,0.617749,-0.655408,0.0,0.007347,0.500,1,0,0
6,6,1.0,1.0,1.0,1.0,1.0,0.048732,-0.033935,0.460417,0.6,0.000000,0.125,0,1,0
7,7,0.0,0.0,0.0,0.0,0.0,0.012372,0.323046,1.535620,1.0,0.007347,0.500,1,0,0

In [11]:
res2 = plan.fit_transform(df2, df2["y"])
res2

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code,four_prevalence_code,four_lev_foo,four_lev__NA_,four_lev_blog
0,0,0.0,0.0,0.0,0.0,0.0,0.911649,-1.029301,1.407678,1.0,-8.881784e-16,0.500,1,0,0
1,1,1.0,1.0,1.0,1.0,1.0,0.048732,-0.033935,0.460417,0.6,0.000000e+00,0.125,0,1,0
2,2,0.0,0.0,0.0,0.0,0.0,0.386269,0.672940,-0.381947,1.0,-6.060606e-03,0.500,1,0,0
3,3,1.0,1.0,1.0,0.0,1.0,0.048732,-0.033935,0.460417,0.6,0.000000e+00,0.000,0,0,1
4,4,0.0,0.0,0.0,0.0,0.0,-0.455167,-0.754108,0.396140,0.0,-4.219409e-03,0.500,1,0,0
5,5,0.0,0.0,0.0,0.0,0.0,-0.611463,0.617749,-0.655408,0.0,-4.219409e-03,0.500,1,0,0
6,6,1.0,1.0,1.0,1.0,1.0,0.048732,-0.033935,0.460417,0.6,-4.440892e-16,0.125,0,1,0
7,7,0.0,0.0,0.0,0.0,0.0,0.012372,0.323046,1.535620,1.0,-6.060606e-03,0.500,1,0,0

In [12]:
plan.transform(df2)

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code,four_prevalence_code,four_lev_foo,four_lev__NA_,four_lev_blog
0,0,0.0,0.0,0.0,0.0,0.0,0.911649,-1.029301,1.407678,1.0,0.007347,0.500,1,0,0
1,1,1.0,1.0,1.0,1.0,1.0,0.048732,-0.033935,0.460417,0.6,0.000000,0.125,0,1,0
2,2,0.0,0.0,0.0,0.0,0.0,0.386269,0.672940,-0.381947,1.0,0.007347,0.500,1,0,0
3,3,1.0,1.0,1.0,0.0,1.0,0.048732,-0.033935,0.460417,0.6,0.000000,0.000,0,0,1
4,4,0.0,0.0,0.0,0.0,0.0,-0.455167,-0.754108,0.396140,0.0,0.007347,0.500,1,0,0
5,5,0.0,0.0,0.0,0.0,0.0,-0.611463,0.617749,-0.655408,0.0,0.007347,0.500,1,0,0
6,6,1.0,1.0,1.0,1.0,1.0,0.048732,-0.033935,0.460417,0.6,0.000000,0.125,0,1,0
7,7,0.0,0.0,0.0,0.0,0.0,0.012372,0.323046,1.535620,1.0,0.007347,0.500,1,0,0

In [13]:
plan.score_frame_

                variable  PearsonR  significance
0             one_is_bad -0.056344      0.894579
1             two_is_bad -0.056344      0.894579
2           three_is_bad -0.056344      0.894579
3            four_is_bad  0.000000      1.000000
4            five_is_bad -0.056344      0.894579
5                    one -0.606878      0.110626
6                    two  0.413661      0.308323
7                  three  0.000421      0.999210
8                   five -0.253546      0.544582
9       four_impact_code -0.423075      0.296310
10  four_prevalence_code  0.066556      0.875576
11          four_lev_foo  0.056344      0.894579
12         four_lev__NA_  0.000000      1.000000
13         four_lev_blog -0.082479      0.846053