In [1]:
!pip install /Users/johnmount/Documents/work/pyvtreat/dist/vtreat-0.1.tar.gz

Processing /Users/johnmount/Documents/work/pyvtreat/dist/vtreat-0.1.tar.gz
Requirement already satisfied: numpy in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from vtreat==0.1) (1.16.4)
Requirement already satisfied: pandas in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from vtreat==0.1) (0.24.2)
Requirement already satisfied: statistics in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from vtreat==0.1) (1.0.3.5)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from pandas->vtreat==0.1) (2.8.0)
Requirement already satisfied: pytz>=2011k in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from pandas->vtreat==0.1) (2019.1)
Requirement already satisfied: docutils>=0.3 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from statistics->vtreat==0.1) (0.14)
Requirement already satisfied: six>=1.5 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas->vtreat==0.1) (1.12.0)
Building wheels for collected packages: vtreat
  Building wheel for vtreat (setup.py) ... done
  Stored in directory: /Users/johnmount/Library/Caches/pip/wheels/28/d1/8a/f8f4ee7c515a6c18d95d64f4d49327fe498b9e6e23d04c7159
Successfully built vtreat
Installing collected packages: vtreat
  Found existing installation: vtreat 0.1
    Uninstalling vtreat-0.1:
      Successfully uninstalled vtreat-0.1
Successfully installed vtreat-0.1

In [2]:
import vtreat.util

In [3]:
vtreat.util.k_way_cross_plan(10,4)

[{'train': [0, 2, 3, 5, 7, 8, 9], 'app': [1, 4, 6]},
 {'train': [1, 2, 3, 4, 5, 6, 9], 'app': [0, 7, 8]},
 {'train': [0, 1, 3, 4, 6, 7, 8, 9], 'app': [2, 5]},
 {'train': [0, 1, 2, 4, 5, 6, 7, 8], 'app': [3, 9]}]

In [4]:
import vtreat

In [5]:
plan = vtreat.numeric_outcome_treatment(outcomename="y")

In [6]:
import pandas
import numpy

In [7]:
# from https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html
df = pandas.DataFrame(numpy.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
                      columns=['one', 'two', 'three'])
df['four'] = 'foo'
df['five'] = df['one'] > 0
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df2

        one       two     three four   five
a -1.336767 -0.197418 -1.175469  foo  False
b       NaN       NaN       NaN  NaN    NaN
c -0.344397 -0.160444  0.307940  foo  False
d       NaN       NaN       NaN  NaN    NaN
e -0.146889 -2.521416 -0.087509  foo  False
f  0.100800 -0.739282 -0.151811  foo   True
g       NaN       NaN       NaN  NaN    NaN
h -0.054256  0.249727 -0.031917  foo  False

In [8]:
df2.reset_index(inplace=True, drop=True)
df2["y"] = range(df2.shape[0])
df2.loc[3, "four"] = "blog"

In [9]:
#df2 = pandas.concat([df2, df2, df2, df2, df2], axis=0)
#df2.reset_index(inplace=True, drop=True)

In [10]:
df2

        one       two     three  four   five  y
0 -1.336767 -0.197418 -1.175469   foo  False  0
1       NaN       NaN       NaN   NaN    NaN  1
2 -0.344397 -0.160444  0.307940   foo  False  2
3       NaN       NaN       NaN  blog    NaN  3
4 -0.146889 -2.521416 -0.087509   foo  False  4
5  0.100800 -0.739282 -0.151811   foo   True  5
6       NaN       NaN       NaN   NaN    NaN  6
7 -0.054256  0.249727 -0.031917   foo  False  7

In [11]:
plan.fit(df2, df2["y"])

In [12]:
res = plan.transform(df2)
res

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code
0,0,0.0,0.0,0.0,0.0,0.0,-1.336767,-0.197418,-1.175469,0.0,0.009018
1,1,1.0,1.0,1.0,1.0,1.0,-0.356302,-0.673767,-0.227753,0.2,0.000000
2,2,0.0,0.0,0.0,0.0,0.0,-0.344397,-0.160444,0.307940,0.0,0.009018
3,3,1.0,1.0,1.0,0.0,1.0,-0.356302,-0.673767,-0.227753,0.2,-0.009719
4,4,0.0,0.0,0.0,0.0,0.0,-0.146889,-2.521416,-0.087509,0.0,0.009018
5,5,0.0,0.0,0.0,0.0,0.0,0.100800,-0.739282,-0.151811,1.0,0.009018
6,6,1.0,1.0,1.0,1.0,1.0,-0.356302,-0.673767,-0.227753,0.2,0.000000
7,7,0.0,0.0,0.0,0.0,0.0,-0.054256,0.249727,-0.031917,0.0,0.009018

In [13]:
res2 = plan.fit_transform(df2, df2["y"])
res2

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code
0,0,0.0,0.0,0.0,0.0,0.0,-1.336767,-0.197418,-1.175469,0.0,0.106667
1,1,1.0,1.0,1.0,1.0,1.0,-0.356302,-0.673767,-0.227753,0.2,0.000000
2,2,0.0,0.0,0.0,0.0,0.0,-0.344397,-0.160444,0.307940,0.0,-0.008929
3,3,1.0,1.0,1.0,0.0,1.0,-0.356302,-0.673767,-0.227753,0.2,0.000000
4,4,0.0,0.0,0.0,0.0,0.0,-0.146889,-2.521416,-0.087509,0.0,0.295775
5,5,0.0,0.0,0.0,0.0,0.0,0.100800,-0.739282,-0.151811,1.0,-0.001524
6,6,1.0,1.0,1.0,1.0,1.0,-0.356302,-0.673767,-0.227753,0.2,0.000000
7,7,0.0,0.0,0.0,0.0,0.0,-0.054256,0.249727,-0.031917,0.0,-0.008929

In [14]:
plan.transform(df2)

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code
0,0,0.0,0.0,0.0,0.0,0.0,-1.336767,-0.197418,-1.175469,0.0,0.009018
1,1,1.0,1.0,1.0,1.0,1.0,-0.356302,-0.673767,-0.227753,0.2,0.000000
2,2,0.0,0.0,0.0,0.0,0.0,-0.344397,-0.160444,0.307940,0.0,0.009018
3,3,1.0,1.0,1.0,0.0,1.0,-0.356302,-0.673767,-0.227753,0.2,-0.009719
4,4,0.0,0.0,0.0,0.0,0.0,-0.146889,-2.521416,-0.087509,0.0,0.009018
5,5,0.0,0.0,0.0,0.0,0.0,0.100800,-0.739282,-0.151811,1.0,0.009018
6,6,1.0,1.0,1.0,1.0,1.0,-0.356302,-0.673767,-0.227753,0.2,0.000000
7,7,0.0,0.0,0.0,0.0,0.0,-0.054256,0.249727,-0.031917,0.0,0.009018