!pip install /Users/johnmount/Documents/work/pyvtreat/pkg/dist/vtreat-0.1.tar.gz
#!pip install https://github.com/WinVector/pyvtreat/raw/master/pkg/dist/vtreat-0.1.tar.gz

In [1]:
import vtreat.util

In [2]:
vtreat.util.k_way_cross_plan(10,4)

[{'train': [1, 2, 3, 4, 7, 8, 9], 'app': [0, 5, 6]},
 {'train': [0, 1, 3, 4, 5, 6, 7], 'app': [2, 8, 9]},
 {'train': [0, 1, 2, 3, 5, 6, 8, 9], 'app': [4, 7]},
 {'train': [0, 2, 4, 5, 6, 7, 8, 9], 'app': [1, 3]}]

In [3]:
import vtreat

In [4]:
plan = vtreat.numeric_outcome_treatment(outcomename="y")

In [5]:
import pandas
import numpy

In [6]:
# from https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html
df = pandas.DataFrame(numpy.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
                      columns=['one', 'two', 'three'])
df['four'] = 'foo'
df['five'] = df['one'] > 0
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df2.reset_index(inplace=True, drop=True)
df2["y"] = range(df2.shape[0])
df2.loc[3, "four"] = "blog"
df2["const"] = 1

In [7]:
df2

        one       two     three  four   five  y  const
0  0.847655 -0.120012 -1.531088   foo   True  0      1
1       NaN       NaN       NaN   NaN    NaN  1      1
2 -1.894027  0.484482 -2.224238   foo  False  2      1
3       NaN       NaN       NaN  blog    NaN  3      1
4 -0.691210 -0.393615 -0.530745   foo  False  4      1
5  0.543312  1.330313 -0.106734   foo   True  5      1
6       NaN       NaN       NaN   NaN    NaN  6      1
7 -0.806130 -0.238806 -0.028765   foo  False  7      1

In [8]:
plan.fit(df2, df2["y"])

In [9]:
res = plan.transform(df2)
res

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code,four_deviance_code,four_prevalence_code,four_lev_foo,four_lev__NA_,four_lev_blog
0,0,0.0,0.0,0.0,0.0,0.0,0.847655,-0.120012,-1.531088,1.0,0.005407,2.702036,0.500,1,0,0
1,1,1.0,1.0,1.0,1.0,1.0,-0.400080,0.212472,-0.884314,0.4,0.000000,3.535675,0.125,0,1,0
2,2,0.0,0.0,0.0,0.0,0.0,-1.894027,0.484482,-2.224238,0.0,0.005407,2.702036,0.500,1,0,0
3,3,1.0,1.0,1.0,0.0,1.0,-0.400080,0.212472,-0.884314,0.4,0.000000,3.146585,0.000,0,0,1
4,4,0.0,0.0,0.0,0.0,0.0,-0.691210,-0.393615,-0.530745,0.0,0.005407,2.702036,0.500,1,0,0
5,5,0.0,0.0,0.0,0.0,0.0,0.543312,1.330313,-0.106734,1.0,0.005407,2.702036,0.500,1,0,0
6,6,1.0,1.0,1.0,1.0,1.0,-0.400080,0.212472,-0.884314,0.4,0.000000,3.535675,0.125,0,1,0
7,7,0.0,0.0,0.0,0.0,0.0,-0.806130,-0.238806,-0.028765,0.0,0.005407,2.702036,0.500,1,0,0

In [10]:
res2 = plan.fit_transform(df2, df2["y"])
res2

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code,four_deviance_code,four_prevalence_code,four_lev_foo,four_lev__NA_,four_lev_blog
0,0,0.0,0.0,0.0,0.0,0.0,0.847655,-0.120012,-1.531088,1.0,1.252218e-01,2.516810,0.500,1,0,0
1,1,1.0,1.0,1.0,1.0,1.0,-0.400080,0.212472,-0.884314,0.4,-4.440892e-16,2.702036,0.125,0,1,0
2,2,0.0,0.0,0.0,0.0,0.0,-1.894027,0.484482,-2.224238,0.0,2.283733e-02,2.944090,0.500,1,0,0
3,3,1.0,1.0,1.0,0.0,1.0,-0.400080,0.212472,-0.884314,0.4,0.000000e+00,0.000000,0.000,0,0,1
4,4,0.0,0.0,0.0,0.0,0.0,-0.691210,-0.393615,-0.530745,0.0,1.252218e-01,2.516810,0.500,1,0,0
5,5,0.0,0.0,0.0,0.0,0.0,0.543312,1.330313,-0.106734,1.0,1.410864e-01,2.986246,0.500,1,0,0
6,6,1.0,1.0,1.0,1.0,1.0,-0.400080,0.212472,-0.884314,0.4,0.000000e+00,2.986246,0.125,0,1,0
7,7,0.0,0.0,0.0,0.0,0.0,-0.806130,-0.238806,-0.028765,0.0,-3.672314e-02,2.217581,0.500,1,0,0

In [11]:
plan.transform(df2)

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code,four_deviance_code,four_prevalence_code,four_lev_foo,four_lev__NA_,four_lev_blog
0,0,0.0,0.0,0.0,0.0,0.0,0.847655,-0.120012,-1.531088,1.0,0.005407,2.702036,0.500,1,0,0
1,1,1.0,1.0,1.0,1.0,1.0,-0.400080,0.212472,-0.884314,0.4,0.000000,3.535675,0.125,0,1,0
2,2,0.0,0.0,0.0,0.0,0.0,-1.894027,0.484482,-2.224238,0.0,0.005407,2.702036,0.500,1,0,0
3,3,1.0,1.0,1.0,0.0,1.0,-0.400080,0.212472,-0.884314,0.4,0.000000,3.146585,0.000,0,0,1
4,4,0.0,0.0,0.0,0.0,0.0,-0.691210,-0.393615,-0.530745,0.0,0.005407,2.702036,0.500,1,0,0
5,5,0.0,0.0,0.0,0.0,0.0,0.543312,1.330313,-0.106734,1.0,0.005407,2.702036,0.500,1,0,0
6,6,1.0,1.0,1.0,1.0,1.0,-0.400080,0.212472,-0.884314,0.4,0.000000,3.535675,0.125,0,1,0
7,7,0.0,0.0,0.0,0.0,0.0,-0.806130,-0.238806,-0.028765,0.0,0.005407,2.702036,0.500,1,0,0

In [12]:
plan.score_frame_

,variable,treatment,y_aware,PearsonR,significance,vcount,recommended
0,one_is_bad,missing_indicator,False,-0.056344,0.894579,5.0,False
1,two_is_bad,missing_indicator,False,-0.056344,0.894579,5.0,False
2,three_is_bad,missing_indicator,False,-0.056344,0.894579,5.0,False
3,four_is_bad,missing_indicator,False,0.000000,1.000000,5.0,False
4,five_is_bad,missing_indicator,False,-0.056344,0.894579,5.0,False
5,one,clean_copy,False,-0.158322,0.708069,4.0,False
6,two,clean_copy,False,0.059925,0.887909,4.0,False
7,three,clean_copy,False,0.693091,0.056657,4.0,False
8,five,clean_copy,False,-0.309890,0.455084,4.0,False
9,four_impact_code,impact_code,True,-0.268374,0.520438,1.0,False
10,four_deviance_code,deviance_code,True,0.057931,0.891623,1.0,False
11,four_prevalence_code,prevalance,False,0.066556,0.875576,1.0,False
12,four_lev_foo,indicator,False,0.056344,0.894579,3.0,False
13,four_lev__NA_,indicator,False,0.000000,1.000000,3.0,False
14,four_lev_blog,indicator,False,-0.082479,0.846053,3.0,False