In [1]:
!pip install /Users/johnmount/Documents/work/pyvtreat/pkg/dist/vtreat-0.1.tar.gz
#!pip install https://github.com/WinVector/pyvtreat/raw/master/pkg/dist/vtreat-0.1.tar.gz

Processing /Users/johnmount/Documents/work/pyvtreat/pkg/dist/vtreat-0.1.tar.gz
Requirement already satisfied: numpy in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.6/site-packages (from vtreat==0.1) (1.16.4)
Requirement already satisfied: pandas in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.6/site-packages (from vtreat==0.1) (0.24.2)
Requirement already satisfied: statistics in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.6/site-packages (from vtreat==0.1) (1.0.3.5)
Requirement already satisfied: scipy in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.6/site-packages (from vtreat==0.1) (1.2.1)
Requirement already satisfied: pytz>=2011k in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.6/site-packages (from pandas->vtreat==0.1) (2019.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.6/site-packages (from pandas->vtreat==0.1) (2.8.0)
Requirement already satisfied: docutils>=0.3 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.6/site-packages (from statistics->vtreat==0.1) (0.14)
Requirement already satisfied: six>=1.5 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas->vtreat==0.1) (1.12.0)
Building wheels for collected packages: vtreat
  Building wheel for vtreat (setup.py) ... done
  Stored in directory: /Users/johnmount/Library/Caches/pip/wheels/cf/06/fc/6b2552717486fb6401f19308eec24381555e456e3bd9cfb103
Successfully built vtreat
Installing collected packages: vtreat
  Found existing installation: vtreat 0.1
    Uninstalling vtreat-0.1:
      Successfully uninstalled vtreat-0.1
Successfully installed vtreat-0.1

In [2]:
import vtreat.util

In [3]:
vtreat.util.k_way_cross_plan(10,4)

[{'train': [0, 1, 4, 5, 6, 7, 9], 'app': [2, 3, 8]},
 {'train': [1, 2, 3, 5, 7, 8, 9], 'app': [0, 4, 6]},
 {'train': [0, 2, 3, 4, 5, 6, 8, 9], 'app': [1, 7]},
 {'train': [0, 1, 2, 3, 4, 6, 7, 8], 'app': [5, 9]}]

In [4]:
import vtreat

In [5]:
plan = vtreat.numeric_outcome_treatment(outcomename="y")

In [6]:
import pandas
import numpy

In [7]:
# from https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html
df = pandas.DataFrame(numpy.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
                      columns=['one', 'two', 'three'])
df['four'] = 'foo'
df['five'] = df['one'] > 0
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df2.reset_index(inplace=True, drop=True)
df2["y"] = range(df2.shape[0])
df2.loc[3, "four"] = "blog"
df2["const"] = 1

In [8]:
df2

        one       two     three  four   five  y  const
0  1.589058 -1.546605 -1.156981   foo   True  0      1
1       NaN       NaN       NaN   NaN    NaN  1      1
2  0.722635  0.593488 -0.353900   foo   True  2      1
3       NaN       NaN       NaN  blog    NaN  3      1
4  0.656963  0.635124 -1.341632   foo   True  4      1
5  0.805247 -0.761614 -0.712332   foo   True  5      1
6       NaN       NaN       NaN   NaN    NaN  6      1
7 -0.291216  0.093346  0.401629   foo  False  7      1

In [9]:
plan.fit(df2, df2["y"])

In [10]:
res = plan.transform(df2)
res

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code,four_deviance_code,four_prevalence_code,four_lev_foo,four_lev__NA_,four_lev_blog
0,0,0.0,0.0,0.0,0.0,0.0,1.589058,-1.546605,-1.156981,1.0,0.005407,2.702036,0.500,1,0,0
1,1,1.0,1.0,1.0,1.0,1.0,0.696537,-0.197252,-0.632643,0.8,0.000000,3.535675,0.125,0,1,0
2,2,0.0,0.0,0.0,0.0,0.0,0.722635,0.593488,-0.353900,1.0,0.005407,2.702036,0.500,1,0,0
3,3,1.0,1.0,1.0,0.0,1.0,0.696537,-0.197252,-0.632643,0.8,0.000000,3.146585,0.000,0,0,1
4,4,0.0,0.0,0.0,0.0,0.0,0.656963,0.635124,-1.341632,1.0,0.005407,2.702036,0.500,1,0,0
5,5,0.0,0.0,0.0,0.0,0.0,0.805247,-0.761614,-0.712332,1.0,0.005407,2.702036,0.500,1,0,0
6,6,1.0,1.0,1.0,1.0,1.0,0.696537,-0.197252,-0.632643,0.8,0.000000,3.535675,0.125,0,1,0
7,7,0.0,0.0,0.0,0.0,0.0,-0.291216,0.093346,0.401629,0.0,0.005407,2.702036,0.500,1,0,0

In [11]:
res2 = plan.fit_transform(df2, df2["y"])
res2

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code,four_deviance_code,four_prevalence_code,four_lev_foo,four_lev__NA_,four_lev_blog
0,0,0.0,0.0,0.0,0.0,0.0,1.589058,-1.546605,-1.156981,1.0,0.143988,2.081906,0.500,1,0,0
1,1,1.0,1.0,1.0,1.0,1.0,0.696537,-0.197252,-0.632643,0.8,0.000000,0.000000,0.125,0,1,0
2,2,0.0,0.0,0.0,0.0,0.0,0.722635,0.593488,-0.353900,1.0,-0.003921,2.645940,0.500,1,0,0
3,3,1.0,1.0,1.0,0.0,1.0,0.696537,-0.197252,-0.632643,0.8,0.000000,0.000000,0.000,0,0,1
4,4,0.0,0.0,0.0,0.0,0.0,0.656963,0.635124,-1.341632,1.0,-0.002135,3.605690,0.500,1,0,0
5,5,0.0,0.0,0.0,0.0,0.0,0.805247,-0.761614,-0.712332,1.0,-0.002135,3.605690,0.500,1,0,0
6,6,1.0,1.0,1.0,1.0,1.0,0.696537,-0.197252,-0.632643,0.8,0.000000,0.000000,0.125,0,1,0
7,7,0.0,0.0,0.0,0.0,0.0,-0.291216,0.093346,0.401629,0.0,-0.003921,2.645940,0.500,1,0,0

In [12]:
plan.transform(df2)

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code,four_deviance_code,four_prevalence_code,four_lev_foo,four_lev__NA_,four_lev_blog
0,0,0.0,0.0,0.0,0.0,0.0,1.589058,-1.546605,-1.156981,1.0,0.005407,2.702036,0.500,1,0,0
1,1,1.0,1.0,1.0,1.0,1.0,0.696537,-0.197252,-0.632643,0.8,0.000000,3.535675,0.125,0,1,0
2,2,0.0,0.0,0.0,0.0,0.0,0.722635,0.593488,-0.353900,1.0,0.005407,2.702036,0.500,1,0,0
3,3,1.0,1.0,1.0,0.0,1.0,0.696537,-0.197252,-0.632643,0.8,0.000000,3.146585,0.000,0,0,1
4,4,0.0,0.0,0.0,0.0,0.0,0.656963,0.635124,-1.341632,1.0,0.005407,2.702036,0.500,1,0,0
5,5,0.0,0.0,0.0,0.0,0.0,0.805247,-0.761614,-0.712332,1.0,0.005407,2.702036,0.500,1,0,0
6,6,1.0,1.0,1.0,1.0,1.0,0.696537,-0.197252,-0.632643,0.8,0.000000,3.535675,0.125,0,1,0
7,7,0.0,0.0,0.0,0.0,0.0,-0.291216,0.093346,0.401629,0.0,0.005407,2.702036,0.500,1,0,0

In [13]:
plan.score_frame_

,variable,treatment,y_aware,PearsonR,significance,vcount,recommended
0,one_is_bad,missing_indicator,False,-0.056344,0.894579,5.0,False
1,two_is_bad,missing_indicator,False,-0.056344,0.894579,5.0,False
2,three_is_bad,missing_indicator,False,-0.056344,0.894579,5.0,False
3,four_is_bad,missing_indicator,False,0.000000,1.000000,5.0,False
4,five_is_bad,missing_indicator,False,-0.056344,0.894579,5.0,False
5,one,clean_copy,False,-0.747754,0.032917,4.0,True
6,two,clean_copy,False,0.338076,0.412753,4.0,False
7,three,clean_copy,False,0.506633,0.200098,4.0,False
8,five,clean_copy,False,-0.586556,0.126426,4.0,False
9,four_impact_code,impact_code,True,-0.583908,0.128572,1.0,False
10,four_deviance_code,deviance_code,True,0.191071,0.650367,1.0,False
11,four_prevalence_code,prevalance,False,0.066556,0.875576,1.0,False
12,four_lev_foo,indicator,False,0.056344,0.894579,3.0,False
13,four_lev__NA_,indicator,False,0.000000,1.000000,3.0,False
14,four_lev_blog,indicator,False,-0.082479,0.846053,3.0,False