In [1]:
!pip install /Users/johnmount/Documents/work/pyvtreat/pkg/dist/vtreat-0.2.tar.gz
#!pip install https://github.com/WinVector/pyvtreat/raw/master/pkg/dist/vtreat-0.2.tar.gz

Processing /Users/johnmount/Documents/work/pyvtreat/pkg/dist/vtreat-0.2.tar.gz
Requirement already satisfied: numpy in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from vtreat==0.2) (1.16.4)
Requirement already satisfied: pandas in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from vtreat==0.2) (0.24.2)
Requirement already satisfied: statistics in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from vtreat==0.2) (1.0.3.5)
Requirement already satisfied: scipy in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from vtreat==0.2) (1.2.1)
Requirement already satisfied: pytz>=2011k in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from pandas->vtreat==0.2) (2019.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from pandas->vtreat==0.2) (2.8.0)
Requirement already satisfied: docutils>=0.3 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from statistics->vtreat==0.2) (0.14)
Requirement already satisfied: six>=1.5 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas->vtreat==0.2) (1.12.0)
Building wheels for collected packages: vtreat
  Building wheel for vtreat (setup.py) ... done
  Stored in directory: /Users/johnmount/Library/Caches/pip/wheels/4e/08/8e/b5002ac5b5bab82c827ea36eb09ec56c7dc8db2f3dbc435796
Successfully built vtreat
Installing collected packages: vtreat
  Found existing installation: vtreat 0.2
    Uninstalling vtreat-0.2:
      Successfully uninstalled vtreat-0.2
Successfully installed vtreat-0.2

In [2]:
!pip install /Users/johnmount/Documents/work/wvpy/pkg/dist/wvpy-0.1.tar.gz
#!pip install https://github.com/WinVector/wvpy/raw/master/pkg/dist/wvpy-0.1.tar.gz

Processing /Users/johnmount/Documents/work/wvpy/pkg/dist/wvpy-0.1.tar.gz
Requirement already satisfied: statistics in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from wvpy==0.1) (1.0.3.5)
Requirement already satisfied: numpy in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from wvpy==0.1) (1.16.4)
Requirement already satisfied: matplotlib in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from wvpy==0.1) (3.1.0)
Requirement already satisfied: sklearn in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from wvpy==0.1) (0.0)
Requirement already satisfied: pandas in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from wvpy==0.1) (0.24.2)
Requirement already satisfied: docutils>=0.3 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from statistics->wvpy==0.1) (0.14)
Requirement already satisfied: cycler>=0.10 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from matplotlib->wvpy==0.1) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from matplotlib->wvpy==0.1) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from matplotlib->wvpy==0.1) (2.4.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from matplotlib->wvpy==0.1) (2.8.0)
Requirement already satisfied: scikit-learn in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from sklearn->wvpy==0.1) (0.21.2)
Requirement already satisfied: pytz>=2011k in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from pandas->wvpy==0.1) (2019.1)
Requirement already satisfied: six in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from cycler>=0.10->matplotlib->wvpy==0.1) (1.12.0)
Requirement already satisfied: setuptools in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib->wvpy==0.1) (41.0.1)
Requirement already satisfied: scipy>=0.17.0 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from scikit-learn->sklearn->wvpy==0.1) (1.2.1)
Requirement already satisfied: joblib>=0.11 in /Users/johnmount/anaconda3/envs/aiAcademy/lib/python3.7/site-packages (from scikit-learn->sklearn->wvpy==0.1) (0.13.2)
Building wheels for collected packages: wvpy
  Building wheel for wvpy (setup.py) ... done
  Stored in directory: /Users/johnmount/Library/Caches/pip/wheels/28/4c/d6/62fecbbece82266ee38611997d63be527cf60570e11e16c8c9
Successfully built wvpy
Installing collected packages: wvpy
  Found existing installation: wvpy 0.1
    Uninstalling wvpy-0.1:
      Successfully uninstalled wvpy-0.1
Successfully installed wvpy-0.1

In [3]:
import vtreat.util

In [4]:
vtreat.util.k_way_cross_plan(10,4)

[{'train': [0, 1, 2, 6, 7, 8, 9], 'app': [3, 4, 5]},
 {'train': [2, 3, 4, 5, 6, 7, 8], 'app': [0, 1, 9]},
 {'train': [0, 1, 3, 4, 5, 7, 8, 9], 'app': [2, 6]},
 {'train': [0, 1, 2, 3, 4, 5, 6, 9], 'app': [7, 8]}]

In [5]:
import vtreat

In [6]:
plan = vtreat.NumericOutcomeTreatment(outcome_name="y",
                                      params=vtreat.vtreat_parameters({'filter_to_recommended':False}))

In [7]:
import pandas
import numpy

In [8]:
# from https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html
df = pandas.DataFrame(numpy.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
                      columns=['one', 'two', 'three'])
df['four'] = 'foo'
df['five'] = df['one'] > 0
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df2.reset_index(inplace=True, drop=True)
df2["y"] = range(df2.shape[0])
df2.loc[3, "four"] = "blog"
df2["const"] = 1

In [9]:
df2

        one       two     three  four   five  y  const
0  0.428697 -1.470156  1.081802   foo   True  0      1
1       NaN       NaN       NaN   NaN    NaN  1      1
2  0.740654  0.738184 -1.830368   foo   True  2      1
3       NaN       NaN       NaN  blog    NaN  3      1
4 -0.296400  1.540528  0.457452   foo  False  4      1
5 -0.718795 -0.213373  1.521371   foo  False  5      1
6       NaN       NaN       NaN   NaN    NaN  6      1
7  0.160030 -0.929022 -0.611059   foo   True  7      1

In [10]:
plan.fit(df2, df2["y"])

In [11]:
plan.score_frame_

,variable,orig_variable,treatment,y_aware,has_range,PearsonR,significance,vcount,recommended
0,one_is_bad,one,missing_indicator,False,True,-0.056344,0.894579,5.0,False
1,two_is_bad,two,missing_indicator,False,True,-0.056344,0.894579,5.0,False
2,three_is_bad,three,missing_indicator,False,True,-0.056344,0.894579,5.0,False
3,four_is_bad,four,missing_indicator,False,True,0.000000,1.000000,5.0,False
4,five_is_bad,five,missing_indicator,False,True,-0.056344,0.894579,5.0,False
5,one,one,clean_copy,False,True,-0.440649,0.274504,4.0,False
6,two,two,clean_copy,False,True,0.080249,0.850178,4.0,False
7,three,three,clean_copy,False,True,-0.041608,0.922075,4.0,False
8,five,five,clean_copy,False,True,-0.253546,0.544582,4.0,False
9,four_impact_code,four,impact_code,True,True,0.095250,0.822483,1.0,True
10,four_deviance_code,four,deviance_code,True,True,0.066862,0.875007,1.0,True
11,four_prevalence_code,four,prevalence_code,False,True,0.066556,0.875576,1.0,True
12,four_lev_foo,four,indicator_code,False,True,0.056344,0.894579,3.0,False
13,four_lev__NA_,four,indicator_code,False,True,0.000000,1.000000,3.0,False
14,four_lev_blog,four,indicator_code,False,True,-0.082479,0.846053,3.0,False

In [12]:
res = plan.transform(df2)
res

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code,four_deviance_code,four_prevalence_code,four_lev_foo,four_lev__NA_,four_lev_blog
0,0,0.0,0.0,0.0,0.0,0.0,0.428697,-1.470156,1.081802,1.0,0.005407,2.702036,0.500,1,0,0
1,1,1.0,1.0,1.0,1.0,1.0,0.062837,-0.066768,0.123839,0.6,0.000000,3.535675,0.125,0,1,0
2,2,0.0,0.0,0.0,0.0,0.0,0.740654,0.738184,-1.830368,1.0,0.005407,2.702036,0.500,1,0,0
3,3,1.0,1.0,1.0,0.0,1.0,0.062837,-0.066768,0.123839,0.6,0.000000,3.146585,0.000,0,0,1
4,4,0.0,0.0,0.0,0.0,0.0,-0.296400,1.540528,0.457452,0.0,0.005407,2.702036,0.500,1,0,0
5,5,0.0,0.0,0.0,0.0,0.0,-0.718795,-0.213373,1.521371,0.0,0.005407,2.702036,0.500,1,0,0
6,6,1.0,1.0,1.0,1.0,1.0,0.062837,-0.066768,0.123839,0.6,0.000000,3.535675,0.125,0,1,0
7,7,0.0,0.0,0.0,0.0,0.0,0.160030,-0.929022,-0.611059,1.0,0.005407,2.702036,0.500,1,0,0

In [13]:
res2 = plan.fit_transform(df2, df2["y"])
res2

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code,four_deviance_code,four_prevalence_code,four_lev_foo,four_lev__NA_,four_lev_blog
0,0,0.0,0.0,0.0,0.0,0.0,0.428697,-1.470156,1.081802,1.0,0.125222,2.51681,0.500,1,0,0
1,1,1.0,1.0,1.0,1.0,1.0,0.062837,-0.066768,0.123839,0.6,0.000000,0.00000,0.125,0,1,0
2,2,0.0,0.0,0.0,0.0,0.0,0.740654,0.738184,-1.830368,1.0,0.006965,2.94409,0.500,1,0,0
3,3,1.0,1.0,1.0,0.0,1.0,0.062837,-0.066768,0.123839,0.6,0.000000,0.00000,0.000,0,0,1
4,4,0.0,0.0,0.0,0.0,0.0,-0.296400,1.540528,0.457452,0.0,0.125222,2.51681,0.500,1,0,0
5,5,0.0,0.0,0.0,0.0,0.0,-0.718795,-0.213373,1.521371,0.0,-0.150708,2.00025,0.500,1,0,0
6,6,1.0,1.0,1.0,1.0,1.0,0.062837,-0.066768,0.123839,0.6,0.000000,0.00000,0.125,0,1,0
7,7,0.0,0.0,0.0,0.0,0.0,0.160030,-0.929022,-0.611059,1.0,-0.150708,2.00025,0.500,1,0,0

In [14]:
plan.transform(df2)

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code,four_deviance_code,four_prevalence_code,four_lev_foo,four_lev__NA_,four_lev_blog
0,0,0.0,0.0,0.0,0.0,0.0,0.428697,-1.470156,1.081802,1.0,0.005407,2.702036,0.500,1,0,0
1,1,1.0,1.0,1.0,1.0,1.0,0.062837,-0.066768,0.123839,0.6,0.000000,3.535675,0.125,0,1,0
2,2,0.0,0.0,0.0,0.0,0.0,0.740654,0.738184,-1.830368,1.0,0.005407,2.702036,0.500,1,0,0
3,3,1.0,1.0,1.0,0.0,1.0,0.062837,-0.066768,0.123839,0.6,0.000000,3.146585,0.000,0,0,1
4,4,0.0,0.0,0.0,0.0,0.0,-0.296400,1.540528,0.457452,0.0,0.005407,2.702036,0.500,1,0,0
5,5,0.0,0.0,0.0,0.0,0.0,-0.718795,-0.213373,1.521371,0.0,0.005407,2.702036,0.500,1,0,0
6,6,1.0,1.0,1.0,1.0,1.0,0.062837,-0.066768,0.123839,0.6,0.000000,3.535675,0.125,0,1,0
7,7,0.0,0.0,0.0,0.0,0.0,0.160030,-0.929022,-0.611059,1.0,0.005407,2.702036,0.500,1,0,0

In [15]:
plan.score_frame_

,variable,orig_variable,treatment,y_aware,has_range,PearsonR,significance,vcount,recommended
0,one_is_bad,one,missing_indicator,False,True,-0.056344,0.894579,5.0,False
1,two_is_bad,two,missing_indicator,False,True,-0.056344,0.894579,5.0,False
2,three_is_bad,three,missing_indicator,False,True,-0.056344,0.894579,5.0,False
3,four_is_bad,four,missing_indicator,False,True,0.000000,1.000000,5.0,False
4,five_is_bad,five,missing_indicator,False,True,-0.056344,0.894579,5.0,False
5,one,one,clean_copy,False,True,-0.440649,0.274504,4.0,False
6,two,two,clean_copy,False,True,0.080249,0.850178,4.0,False
7,three,three,clean_copy,False,True,-0.041608,0.922075,4.0,False
8,five,five,clean_copy,False,True,-0.253546,0.544582,4.0,False
9,four_impact_code,four,impact_code,True,True,-0.635408,0.090446,1.0,False
10,four_deviance_code,four,deviance_code,True,True,-0.089802,0.832524,1.0,False
11,four_prevalence_code,four,prevalence_code,False,True,0.066556,0.875576,1.0,True
12,four_lev_foo,four,indicator_code,False,True,0.056344,0.894579,3.0,False
13,four_lev__NA_,four,indicator_code,False,True,0.000000,1.000000,3.0,False
14,four_lev_blog,four,indicator_code,False,True,-0.082479,0.846053,3.0,False