# to install
!pip install /Users/johnmount/Documents/work/pyvtreat/pkg/dist/vtreat-0.2.1.tar.gz
#!pip install https://github.com/WinVector/pyvtreat/raw/master/pkg/dist/vtreat-0.2.1.tar.gz

!pip install /Users/johnmount/Documents/work/wvpy/pkg/dist/wvpy-0.1.tar.gz
#!pip install https://github.com/WinVector/wvpy/raw/master/pkg/dist/wvpy-0.1.tar.gz

In [1]:
import vtreat.cross_plan

In [2]:
cp = vtreat.cross_plan.k_way_cross_plan(10,4)
cp

[{'train': [0, 1, 3, 5, 6, 8, 9], 'app': [2, 4, 7]},
 {'train': [0, 1, 2, 4, 6, 7, 9], 'app': [3, 5, 8]},
 {'train': [2, 3, 4, 5, 6, 7, 8, 9], 'app': [0, 1]},
 {'train': [0, 1, 2, 3, 4, 5, 7, 8], 'app': [6, 9]}]

In [3]:
vtreat.cross_plan.support_indicator(10, cp)

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [4]:
import vtreat

In [5]:
plan = vtreat.NumericOutcomeTreatment(outcome_name="y",
                                      params=vtreat.vtreat_parameters({'filter_to_recommended':False}))

In [6]:
import pandas
import numpy

In [7]:
# from https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html
df = pandas.DataFrame(numpy.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
                      columns=['one', 'two', 'three'])
df['four'] = 'foo'
df['five'] = df['one'] > 0
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df2.reset_index(inplace=True, drop=True)
df2["y"] = range(df2.shape[0])
df2.loc[3, "four"] = "blog"
df2["const"] = 1

In [8]:
df2

        one       two     three  four   five  y  const
0 -0.721549  0.502318 -2.542341   foo  False  0      1
1       NaN       NaN       NaN   NaN    NaN  1      1
2  0.201495 -0.887871 -1.053987   foo   True  2      1
3       NaN       NaN       NaN  blog    NaN  3      1
4 -0.787491  0.140377 -0.122377   foo  False  4      1
5 -0.380355 -2.143025  0.325616   foo  False  5      1
6       NaN       NaN       NaN   NaN    NaN  6      1
7 -0.280686  1.173419  0.407346   foo  False  7      1

In [9]:
plan.fit(df2, df2["y"])

In [10]:
plan.score_frame_

,variable,orig_variable,treatment,y_aware,has_range,PearsonR,significance,vcount,recommended
0,one_is_bad,one,missing_indicator,False,True,-0.056344,0.894579,5.0,False
1,two_is_bad,two,missing_indicator,False,True,-0.056344,0.894579,5.0,False
2,three_is_bad,three,missing_indicator,False,True,-0.056344,0.894579,5.0,False
3,four_is_bad,four,missing_indicator,False,True,0.000000,1.000000,5.0,False
4,five_is_bad,five,missing_indicator,False,True,-0.056344,0.894579,5.0,False
5,one,one,clean_copy,False,True,0.092040,0.828397,4.0,False
6,two,two,clean_copy,False,True,0.039111,0.926741,4.0,False
7,three,three,clean_copy,False,True,0.790512,0.019524,4.0,True
8,five,five,clean_copy,False,True,-0.276026,0.508138,4.0,False
9,four_impact_code,four,impact_code,True,True,-0.599403,0.116299,1.0,False
10,four_deviance_code,four,deviance_code,True,True,0.098977,0.815627,1.0,True
11,four_prevalence_code,four,prevalence_code,False,True,0.066556,0.875576,1.0,True
12,four_lev_foo,four,indicator_code,False,True,0.056344,0.894579,3.0,False
13,four_lev__NA_,four,indicator_code,False,True,0.000000,1.000000,3.0,False
14,four_lev_blog,four,indicator_code,False,True,-0.082479,0.846053,3.0,False

In [11]:
res = plan.transform(df2)
res

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code,four_deviance_code,four_prevalence_code,four_lev_foo,four_lev__NA_,four_lev_blog
0,0,0.0,0.0,0.0,0.0,0.0,-0.721549,0.502318,-2.542341,0.0,0.005407,2.702036,0.500,1,0,0
1,1,1.0,1.0,1.0,1.0,1.0,-0.393717,-0.242956,-0.597148,0.2,0.000000,3.535675,0.125,0,1,0
2,2,0.0,0.0,0.0,0.0,0.0,0.201495,-0.887871,-1.053987,1.0,0.005407,2.702036,0.500,1,0,0
3,3,1.0,1.0,1.0,0.0,1.0,-0.393717,-0.242956,-0.597148,0.2,0.000000,3.146585,0.000,0,0,1
4,4,0.0,0.0,0.0,0.0,0.0,-0.787491,0.140377,-0.122377,0.0,0.005407,2.702036,0.500,1,0,0
5,5,0.0,0.0,0.0,0.0,0.0,-0.380355,-2.143025,0.325616,0.0,0.005407,2.702036,0.500,1,0,0
6,6,1.0,1.0,1.0,1.0,1.0,-0.393717,-0.242956,-0.597148,0.2,0.000000,3.535675,0.125,0,1,0
7,7,0.0,0.0,0.0,0.0,0.0,-0.280686,1.173419,0.407346,0.0,0.005407,2.702036,0.500,1,0,0

In [12]:
res2 = plan.fit_transform(df2, df2["y"])
res2

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code,four_deviance_code,four_prevalence_code,four_lev_foo,four_lev__NA_,four_lev_blog
0,0,0.0,0.0,0.0,0.0,0.0,-0.721549,0.502318,-2.542341,0.0,5.640714e-01,1.527853,0.500,1,0,0
1,1,1.0,1.0,1.0,1.0,1.0,-0.393717,-0.242956,-0.597148,0.2,0.000000e+00,3.109287,0.125,0,1,0
2,2,0.0,0.0,0.0,0.0,0.0,0.201495,-0.887871,-1.053987,1.0,5.640714e-01,1.527853,0.500,1,0,0
3,3,1.0,1.0,1.0,0.0,1.0,-0.393717,-0.242956,-0.597148,0.2,0.000000e+00,0.000000,0.000,0,0,1
4,4,0.0,0.0,0.0,0.0,0.0,-0.787491,0.140377,-0.122377,0.0,-1.483487e-01,3.109287,0.500,1,0,0
5,5,0.0,0.0,0.0,0.0,0.0,-0.380355,-2.143025,0.325616,0.0,-8.944006e-04,2.986246,0.500,1,0,0
6,6,1.0,1.0,1.0,1.0,1.0,-0.393717,-0.242956,-0.597148,0.2,-4.440892e-16,2.217581,0.125,0,1,0
7,7,0.0,0.0,0.0,0.0,0.0,-0.280686,1.173419,0.407346,0.0,1.050757e-01,2.217581,0.500,1,0,0

In [13]:
plan.transform(df2)

,y,one_is_bad,two_is_bad,three_is_bad,four_is_bad,five_is_bad,one,two,three,five,four_impact_code,four_deviance_code,four_prevalence_code,four_lev_foo,four_lev__NA_,four_lev_blog
0,0,0.0,0.0,0.0,0.0,0.0,-0.721549,0.502318,-2.542341,0.0,0.005407,2.702036,0.500,1,0,0
1,1,1.0,1.0,1.0,1.0,1.0,-0.393717,-0.242956,-0.597148,0.2,0.000000,3.535675,0.125,0,1,0
2,2,0.0,0.0,0.0,0.0,0.0,0.201495,-0.887871,-1.053987,1.0,0.005407,2.702036,0.500,1,0,0
3,3,1.0,1.0,1.0,0.0,1.0,-0.393717,-0.242956,-0.597148,0.2,0.000000,3.146585,0.000,0,0,1
4,4,0.0,0.0,0.0,0.0,0.0,-0.787491,0.140377,-0.122377,0.0,0.005407,2.702036,0.500,1,0,0
5,5,0.0,0.0,0.0,0.0,0.0,-0.380355,-2.143025,0.325616,0.0,0.005407,2.702036,0.500,1,0,0
6,6,1.0,1.0,1.0,1.0,1.0,-0.393717,-0.242956,-0.597148,0.2,0.000000,3.535675,0.125,0,1,0
7,7,0.0,0.0,0.0,0.0,0.0,-0.280686,1.173419,0.407346,0.0,0.005407,2.702036,0.500,1,0,0

In [14]:
plan.score_frame_

,variable,orig_variable,treatment,y_aware,has_range,PearsonR,significance,vcount,recommended
0,one_is_bad,one,missing_indicator,False,True,-0.056344,0.894579,5.0,False
1,two_is_bad,two,missing_indicator,False,True,-0.056344,0.894579,5.0,False
2,three_is_bad,three,missing_indicator,False,True,-0.056344,0.894579,5.0,False
3,four_is_bad,four,missing_indicator,False,True,0.000000,1.000000,5.0,False
4,five_is_bad,five,missing_indicator,False,True,-0.056344,0.894579,5.0,False
5,one,one,clean_copy,False,True,0.092040,0.828397,4.0,False
6,two,two,clean_copy,False,True,0.039111,0.926741,4.0,False
7,three,three,clean_copy,False,True,0.790512,0.019524,4.0,True
8,five,five,clean_copy,False,True,-0.276026,0.508138,4.0,False
9,four_impact_code,four,impact_code,True,True,-0.539656,0.167436,1.0,False
10,four_deviance_code,four,deviance_code,True,True,0.215401,0.608442,1.0,True
11,four_prevalence_code,four,prevalence_code,False,True,0.066556,0.875576,1.0,True
12,four_lev_foo,four,indicator_code,False,True,0.056344,0.894579,3.0,False
13,four_lev__NA_,four,indicator_code,False,True,0.000000,1.000000,3.0,False
14,four_lev_blog,four,indicator_code,False,True,-0.082479,0.846053,3.0,False